@model LibraryNew.Models.ViewModel.BookVM
@{
}

<head>
    <link rel="stylesheet" href="~/css/shared/book-form.css"/>
</head>
<body>
    <div class="create-section">
        <div class="brown-divider"></div>
        <div class="main-create-section">
            <form class="create-form" asp-action="Create" method="post" enctype="multipart/form-data">

                <h4>Create book</h4>
                <div class="title-lang-section">
                    <div>
                        <span asp-validation-for="book.Title" class="text-danger"></span>
                        <input placeholder="Title" asp-for="book.Title" class="form-control" />
                    </div>
                    <div>
                        <span asp-validation-for="@Model.book.Language" class="text-danger"></span>
                        <input placeholder="Language" asp-for="book.Language" class="form-control" />
                    </div>
                </div>
                <div class="file-desc-section">
                    <div class="desc-section">
                        <div>
                            <span asp-validation-for="book.Description" class="text-danger"></span>
                            <textarea placeholder="Description" asp-for="book.Description" class="form-control"></textarea>
                        </div>
                        <div class="d-flex">
                            <span asp-validation-for="@Model.FilePDF" class="text-danger"></span>
                            <input placeholder="Read file" asp-for="FilePDF" accept="@Model.PDFAcceptTypes" class="form-control" />
                        </div>
                    </div>
                    <div class="image-section">
                        <label asp-for="FileIMG"><i class="material-icons">add</i></label>
                        <span asp-validation-for="@Model.FileIMG" class="text-danger"></span>
                        <input asp-for="FileIMG" class="photo-input" onchange="PreviewImage();" />
                        <div class="image-preview-container">
                            <img id="uploadPreview"/>
                        </div>
                    </div>
                    
                </div>
                
                <div class="page-year-section">
                    <div>
                        <span asp-validation-for="@Model.book.PublishingYear" class="text-danger"></span>
                        <input placeholder="Publishing year" asp-for="book.PublishingYear" class="form-control" />
                    </div>
                    <div>
                        <span asp-validation-for="@Model.book.Pages" class="text-danger"></span>
                        <input placeholder="Pages" asp-for="book.Pages" class="form-control" />
                    </div>
                </div>
                <div class="short-ans-section">
                    <div class="rating-subsection">
                        <div>
                            <label asp-for="book.Rating" class="col-1 mb-1"></label>
                            <span asp-validation-for="@Model.book.Rating" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <input asp-for="book.Rating" class="form-control" />
                            <p class="d-flex"> /
                                @for(int i = 0; i < 10; i++){
                                    <i class="material-icons golden">star</i>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bullet-options">
                    <div  class="option">
                        <label asp-for="book.IsPublic" class="col-1 mb-1"></label>
                        <span asp-validation-for="@Model.book.IsPublic" class="text-danger"></span>
                        <input asp-for="book.IsPublic" class="mb-1" onchange="updateOptionText(this, 'first')" />
                        <span class="first option-answer">No</span>
                    </div>
                    <div class="option">
                        <label asp-for="book.BookAward" class="col-1 mb-1"></label>
                        <span asp-validation-for="@Model.book.BookAward" class="text-danger"></span>
                        <input asp-for="book.BookAward" class="mb-1"  onchange="updateOptionText(this, 'second')" />
                        <span class="second option-answer">No</span>
                    </div>
                </div>

                <div class="review-genre-section">
                    <div>
                        <span asp-validation-for="@Model.book.Review" class="text-danger"></span>
                        <textarea asp-for="book.Review" placeholder="Review" class="form-control"></textarea>
                    </div>
                
                    <div>
                        <span asp-validation-for="@Model.book.CategoryId" class="text-danger"></span>
                        <select asp-for="book.CategoryId" asp-items="Model.categories" class="form-select">
                            <option selected>Genre</option>
                        </select>
                    </div>
                </div>

                <div class="author-section">
                    <span asp-validation-for="@Model.SelectedAuthorsId" class="text-danger"></span>

                    <!-- Search input -->
                    <input type="text" id="search-authors" placeholder="Search authors..." class="form-control mb-2">

                    <select id="authors-select" asp-for="SelectedAuthorsId" asp-items="Model.authors" class="form-select" multiple="multiple">
                    </select>
                </div>
                <input type="submit" value="Save" />
            </form>
        </div>
        <div class="brown-divider"></div>
    </div>

    <script>
        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.querySelector(".photo-input").files[0]);

            oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };

        function updateOptionText(checkbox, spanClass){
            const span = document.querySelector(`.${spanClass}`);
            if (checkbox.checked) {
                span.textContent = "Yes";
            } else {
                span.textContent = "No";
            }
        }

        document.querySelector('#search-authors').addEventListener('input', (e) => {

            const query = e.target.value;
            console.log(query);

            fetch(`/Book/SearchAuthors?query=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(data => {

                const select = document.querySelector('#authors-select');
                select.innerHTML = '';
                console.log(data);

                data.forEach(author => {
                    const option = document.createElement('option');
                    option.value = author.id;
                    option.textContent = author.fullName;
                    console.log(option)
                    select.appendChild(option);
                });
        })
        .catch(error => console.error('Error fetching authors:', error));
        })
        
    </script>
</body>
