@model LibraryNew.Models.ViewModel.BookVM
@{
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="book.Title" class="col-1 mb-1"></label>
        <span asp-validation-for="book.Title" class="text-danger"></span>
        <input asp-for="book.Title" class="form-control"/>

    </div>
    <div>
        <label asp-for="book.Description" class="col-1 mb-1"></label>
        <span asp-validation-for="book.Description" class="text-danger"></span>
        <input asp-for="book.Description" class="form-control" />
    </div>
    <div>
        <label asp-for="FileIMG" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.FileIMG" class="text-danger"></span>
        <input asp-for="FileIMG"  accept="@Model.ImgAcceptType" class="form-control" />
    </div>
    <div>
        <label asp-for="FilePDF" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.FilePDF" class="text-danger"></span>
        <input asp-for="FilePDF" accept="@Model.PDFAcceptTypes" class="form-control" />
    </div>
    <div>
        <label asp-for="book.PublishingYear" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.book.PublishingYear" class="text-danger"></span>
        <input asp-for="book.PublishingYear" class="form-control" />
    </div>
    <div>
        <label asp-for="book.Pages" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.book.Pages" class="text-danger"></span>
        <input asp-for="book.Pages" class="form-control" />
    </div>
    <div>
        <label asp-for="book.Language" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.book.Language" class="text-danger"></span>
        <input asp-for="book.Language" class="form-control" />
    </div>
    <div>
        <label asp-for="book.Rating" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.book.Rating" class="text-danger"></span>
        <input asp-for="book.Rating" class="form-control" />
    </div>
    <div>
        <label asp-for="book.Review" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.book.Review" class="text-danger"></span>
        <input asp-for="book.Review" class="form-control" />
    </div>
    <div>
        <label asp-for="book.IsPublic" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.book.IsPublic" class="text-danger"></span>
        <input asp-for="book.IsPublic" class="mb-1" />
    </div>
    <div>
        <label asp-for="book.BookAward" class="col-1 mb-1"></label>
        <span asp-validation-for="@Model.book.BookAward" class="text-danger"></span>
        <input asp-for="book.BookAward" class="mb-1"/>
    </div>
    <div>
        <label asp-for="book.CategoryId"></label>
        <span asp-validation-for="@Model.book.CategoryId" class="text-danger"></span>
        <select asp-for="book.CategoryId" asp-items="Model.categories" class="form-select">
            
        </select>
    </div>

    <div>
        <label asp-for="SelectedAuthorsId"></label>
        <span asp-validation-for="@Model.SelectedAuthorsId" class="text-danger"></span>
        <select asp-for="SelectedAuthorsId" asp-items="Model.authors" class="form-select" multiple="multiple">
            
        </select>
    </div>
    <input type="submit" value="Save"/>
</form>
