@model LibraryNew.Models.Book

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/pages/books-details.css"/>
    <link rel="stylesheet" href="~/css/shared/site.css"/>
    @* <link rel="stylesheet" href="~/css/common/document-components/home-span.css"/> *@
</head>
<body>
    <div class="quote-book-space">

        <div class="quote d-flex">
            <p>" </p>
            <p class="quote-text"></p>
            <p> "</p>
            <p style="display: none" class="quote-info"><span class="quote-author">   <em></span><span class="quote-resource"></span></em> </p>
        </div>

    </div>
    <div class="main-book-space d-flex">
        <div class="book-image">
            <p class="d-flex home-span"><a asp-controller="Book" asp-action="Index"><i class="material-icons">chevron_left</i>Home</a></p>
            <div class="resp-divider" style="display: none"></div>
            <img src="@Model.ImagePath"/>
            <div class="owner-buttons">
                <div class="modify-btn">
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </div>
            </div>
        </div>
        <div class="book-content">
            <div class="title-section">
                <h3>@Model.Title</h3>
                <p> Author : 
                    @for (int i = 0; i < Model.BookAuthors.Count(); i++)
                    {

                        @Model.BookAuthors.ToList()[i].Author.FirstName @: @Model.BookAuthors.ToList()[i].Author.LastName
                        @if (i != Model.BookAuthors.Count() - 1)
                        {
                            @:,
                        }
                    }
                </p>
            </div>
            <div class="description-section">
                <h5>Description</h5>
                <p>@Model.Description</p>
                <a class="read-btn" asp-action="Read" asp-controller="Book" asp-route-id="@Model.Id">Read</a>
            </div>
            <div class="info-section">
                <h5>Characteristics</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Category.Genre)</th>
                            <td>@Html.DisplayFor(m => m.Category.Genre)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.PublishingYear)</th>
                            <td>@Html.DisplayFor(m => m.PublishingYear)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.IsPublic)</th>
                            <td>Private library</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Pages)</th>
                            <td>@Html.DisplayFor(m => m.Pages)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Language)</th>
                            <td>@Html.DisplayFor(m => m.Language)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.BookAward)</th>
                            @if(Model.BookAward == false){
                                <td>none</td>
                            }else{
                                <td>awarded</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="review-section">
                <h5>Review</h5>
                @if (Model.Rating > 0)
                {
                    <p class="book-rating">
                        @for (int i = 0; i < (Model.Rating); i++)
                        {
                            <i class="material-icons golden">star</i>
                        }
                        @for(int i = 0; i < 10 - (Model.Rating); i++){
                            <i class="material-icons silver">star</i>
                        }
                    </p>
                }
                <p>@Model.Review</p>
            </div>
        </div>
    </div>

    <script src="/js/partialViews/quoteView.js"></script>
</body>
